/* THIS FILE IS ALWAYS LOADED */

body {
  background-color: #84B1ED;
}

.container.container-base {
  padding: 0;
}

.wrapper {
  padding-left: 0;
}

.sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;

    background-color: #566270;
    padding: 20px;
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-left: 250px;
}

.wrapper.toggled .sidebar-wrapper {
    display: none;
}

.wrapper.toggled .page-content-wrapper {
    padding-left: 0;
}

.sidebar-wrapper h3 {
  text-align: center;
  margin-bottom: 10px;
}

.sidebar-wrapper h3 a {
  font-size: 20px;
  color: #FFFFF3;
  font-weight: bold;
}

.sidebar-wrapper .image-holder {
  width: 115px;
  text-align: center;
  margin: 30px auto;
}

.panel {
  background-color: #f8f8f8;
}

.well {
  background-color: #E3E6E2;
}

.sidebar-wrapper .image-holder img {
  width: 100%;
  max-width: 100%;
}

.sidebar-wrapper nav ul {
  padding: 0;
}

.sidebar-wrapper nav ul li {
  list-style: none;
  text-align: center;
}

.sidebar-wrapper nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #FFFFF3;
}

.content {
  padding-top: 20px;
}

.navbar {
  margin-bottom: 0;
}

.tred {
  background-color: red;
}

.no-margin {
  margin: 0;
}

.seperation-content {
  background-color: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 40px;
}

.seperation-tri-col {
  background-color: #FFF;
  padding: 32px 0;
}

.inflated-centered {
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}

.alert {
  margin-top: 20px;
  margin-bottom: 20px;
}

.relative {
  position: relative;
}

.bottom {
  position: absolute;
  bottom: 15px;
}



/****** Profile */

.profile-voluntario h1 {
  margin: 20px 0px;
  padding: 0;
}

.profile-voluntario h4 {
  margin-top: 20px;
}

.profile-voluntario .buttons-top {
  margin-bottom: 20px;
}

.profile-photo-container {
  width: 100%;
}

.profile-photo-container img {
  width: 100%;
}

blockquote {
  margin-bottom: 0;
}

.actions a:first-child {
  margin-right: 20px;
}








/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: 100%;
  position: relative;
}
.page-content-wrapper {
  position: relative;
  padding-bottom: 60px;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f8f8f8;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  padding: 0 15px;
}
.container-fluid .row .col-md-3 .text-muted {
  margin: 20px 0;
}